.nav-bg{
  background: rgba(13,33,43,1);
  background: -moz-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 36%, rgba(13,33,43,0.7) 68%, rgba(13,33,43,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,33,43,1)), color-stop(36%, rgba(13,33,43,0.93)), color-stop(68%, rgba(13,33,43,0.7)), color-stop(100%, rgba(13,33,43,0)));
  background: -webkit-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 36%, rgba(13,33,43,0.7) 68%, rgba(13,33,43,0) 100%);
  background: -o-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 36%, rgba(13,33,43,0.7) 68%, rgba(13,33,43,0) 100%);
  background: -ms-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 36%, rgba(13,33,43,0.7) 68%, rgba(13,33,43,0) 100%);
  background: linear-gradient(to bottom, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 36%, rgba(13,33,43,0.7) 68%, rgba(13,33,43,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d212b', endColorstr='#0d212b', GradientType=0 );
}

.small-nav-bg{
  background: rgba(13,33,43,1);
  background: -moz-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 58%, rgba(13,33,43,0.76) 77%, rgba(13,33,43,0.7) 84%, rgba(13,33,43,0.44) 90%, rgba(13,33,43,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(13,33,43,1)), color-stop(58%, rgba(13,33,43,0.93)), color-stop(77%, rgba(13,33,43,0.76)), color-stop(84%, rgba(13,33,43,0.7)), color-stop(90%, rgba(13,33,43,0.44)), color-stop(100%, rgba(13,33,43,0)));
  background: -webkit-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 58%, rgba(13,33,43,0.76) 77%, rgba(13,33,43,0.7) 84%, rgba(13,33,43,0.44) 90%, rgba(13,33,43,0) 100%);
  background: -o-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 58%, rgba(13,33,43,0.76) 77%, rgba(13,33,43,0.7) 84%, rgba(13,33,43,0.44) 90%, rgba(13,33,43,0) 100%);
  background: -ms-linear-gradient(top, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 58%, rgba(13,33,43,0.76) 77%, rgba(13,33,43,0.7) 84%, rgba(13,33,43,0.44) 90%, rgba(13,33,43,0) 100%);
  background: linear-gradient(to bottom, rgba(13,33,43,1) 0%, rgba(13,33,43,0.93) 58%, rgba(13,33,43,0.76) 77%, rgba(13,33,43,0.7) 84%, rgba(13,33,43,0.44) 90%, rgba(13,33,43,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d212b', endColorstr='#0d212b', GradientType=0 );
}

.main-nav {
  @extend .nav-bg;
  @extend .base-positioning;
  font-size: $nav-size;
  font-weight: $bold;
  height: 120px;
  position: fixed;
  z-index: 100;
  @media screen and (max-width: $break-medium) {
    display: none;
  }

  ul{
    max-width: 700px;
    margin: auto;
    position: relative;
  }

  li{
    display: inline-block;
    line-height: 100px;
  }

  .li-left{
    float: left;
    margin-left: 30px;
  }

  .li-right {
    float: right;
    margin-right: 30px;
  }

  a{
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: $text-lightblue;
  }

  a:hover{
    border-bottom: 1px solid $text-lightblue;
  }

  .contact{
    line-height: 100px;
    margin-right: 30px;
    top: 0;
    right: 0;
    text-align: right;
    position: absolute;
  }

  .contact a {
    color: $text-blue;
    border: 1px solid $text-blue;
  }

  .logo {
    @extend .nav-logo
  }

  .home-link{
    padding: 0px;
    border: none;
  }
}


// slide down nav
.slide-down-nav{
  @extend .small-nav-bg;
  @extend .base-positioning;
  @include animate(0.5s);
  top: -400px;
  font-size: $nav-size;
  font-weight: $normal;
  height: 550px;
  z-index: 1;
  position: absolute;
  @media screen and (min-width: $break-medium) {
    display: none;
  }
  @media screen and (max-width: $break-medium) {
    display: block;
  }

  ul{
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center;
  }

  li{
    font-size: 30px;
    margin-top: 30px;
  }

  li:first-child{
    margin-top: 50px;
  }

  a{
    display: inline;
    text-decoration: none;
    color: $text-lightblue;
  }

  a:hover{
    border-bottom: 1px solid $text-lightblue;
  }
}

// for nav-button toggle effect
.move-nav-down{
  top: 0;
}

// logo and menu icons in small navbar
.nav-image-container{
  .nav-icon {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    right: 0;
    padding: 20px;
    @media screen and (min-width: $break-medium) {
      display: none;
    }
    @media screen and (max-width: $break-medium) {
      display: block;
    }
  }

  .small-logo{
    @extend .nav-logo;
    @include animate(0.5s);
    position: absolute;
    right: 0;
    z-index: 2;
  }
}



/// footer nav styling
.footer-link-container{
  max-width: 900px;
  padding: 0 20px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  @media screen and (max-width: $break-small) {
    height: 110px;
  }

  .footer-li{
    font-size: $xxs-text;
    font-weight: $bold;
    float: left;
    text-transform: uppercase;
    margin-right: 50px;
    @media screen and (max-width: $break-small) {
      float: none;
      text-align: center;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .footer-li a {
    color: $text-grayblue;
  }

  .social-icon{
    float: right;
    width: 16px;
    height: 16px;
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  .social-icon:last-child{
    margin-left: 50px;
  }

  .copyright{
    color: $text-blue;
    font-weight: $bold;
    float: left;
    clear: left;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 10px;

    @media screen and (max-width: $break-small) {
      float: none;
      text-align: center;
    }
  }
}
