@import "reset";
@import "base";
@import "typography";
@import "nav";
@import "button";


/* styling for header content */
.masthead{
  @extend .blue-bg-text; /* set all text color for header */
  @extend .base-positioning;
  position: relative;
  @media screen and (max-width: $break-small) {
    @include break-small-text;
  }
}

.outer-container{
  @extend .base-positioning;
  height: 100%;
  position: absolute;
  text-align: center;
}

.inner-container-narrow{
  @include container-width(400px);

  .section-title{
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .button{
    @extend .button-blue;
  }
}

.masthead-bg{
  position: relative;
  @extend .header-background-positioning;
  @include blue-img('../images/home-hero-small.jpg');
}

.overlayc{
  position: absolute;
  @extend .header-background-positioning;
  @include blue-img('../images/overlay-c.png');
  opacity: 0.5;
}
/* end header styling */

/* begin styling of each section below header */
.the-firm{
  @extend .white-bg-text;
  @include tile-bg;

  .horizontal-center{
    @include horiz-center(900px);
  }

  .vertical-center{
    @include vert-center(50%);
    @media screen and (max-width: $break-small) {
      @include vert-center(100%);
    }

    @media screen and (max-width: $break-small) {
      @include break-small-text;
    }

  }

  .vertical-center:first-child{
    padding: 20px 20px 20px 20px;
    @media screen and (max-width: $break-small) {
      text-align: center; // for centering button
      .section-title, .description{
        text-align: center;
      }
    }
  }

  .section-title{
    padding-bottom: 20px;
  }

  .column-image{
    width: 90%;
    float: right;
    @media screen and (max-width: $break-small) {
      float: none;
      width: 100%;
      padding: 0 20px;
    }

  }

  .button{
    @extend .button-white;
  }
}



.the-funds{
  @extend .blue-bg-text;
  @media screen and (max-width: $break-small) {
    @include break-small-text;
  }

  .center-text{
    width: 100%;
    @include vertical(absolute);
  }

  .content-width{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }

  .section-title{
    margin-bottom: 20px;
  }

  .vertical-center{
    @include vert-center(percentage(1/3));
    height: 600px;
    @media screen and (max-width: $break-small) {
      @include vert-center(percentage(1));
    }

  }

  .vertical-center:nth-child(1){
    @include blue-img('../images/construction.jpg');
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  .vertical-center:nth-child(2){
    @include blue-img('../images/325-Lex-AD-E7-UNCROPPED.jpg');
  }

  .vertical-center:nth-child(3){
    @include blue-img('../images/325_lexington_1bed_Living.jpg');
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  .button{
    @extend .button-blue;
  }
}


.investments{
  @extend .blue-bg-text;
  background-color: #0f1d20;
  height: 600px;
  display: table;
  @media screen and (max-width: $break-small) {
    @include break-small-text;
  }

  .horizontal-center{
    display: table-cell;
    vertical-align: middle;
  }

  .vertical-center{
    @include horiz-center(900px);
  }

  .vertical-center:first-child{
    padding: 20px 20px 20px 20px;
  }

  .column {
    max-width: 300px;
    @media screen and (max-width: $break-small) {
      text-align: center; // for button
      max-width: 100%;
      .section-title, .description{
        text-align: center;
      }
    }
  }

  .section-title{
    padding-bottom: 20px;
  }

  .map{
    width: 100%;
    height: 100%;
    position: absolute;
    background:url('../images/investments-map-static.png') no-repeat;
    background-size: contain;
    background-position: right;
    @media screen and (max-width: $break-small) {
      background-position: bottom;
      opacity: 0.15;
    }
  }

  .button{
    @extend .button-white;
  }

}


.capabilities{
  @extend .blue-bg-text;
  @media screen and (max-width: $break-small) {
    @include break-small-text;
  }

  .center-text{
    width: 100%;
    @include vertical(absolute);
  }

  .content-width{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }

  .section-title{
    margin-bottom: 20px;
  }

  .vertical-center{
    @include vert-center(100%);
    height: 600px;

  }

  .vertical-center{
    @include blue-img('../images/325_lexington_PH_Patio_View2.jpg');
  }

  .button{
    @extend .button-blue;
  }
}



.news{
  .section-title{
    margin-bottom: 20px;
  }

  .vertical-center{
    @include vert-center(percentage(1/3));
    height: 400px;
    @media screen and (max-width: $break-medium) {
      @include vert-center(percentage(1/2));

    }

    @media screen and (max-width: $break-small) {
      @include vert-center(percentage(1));
    }


  }

  .vertical-center:nth-child(1){
    @extend .white-bg-text;
    @include tile-bg;
    @media screen and (max-width: $break-small) {
      @include break-small-text;
    }

    .column{
      @include vertical(relative); //center vertical
      padding: 20px;
      width: 100%;

    }

    .center-column{ //center horizontal
      max-width: 300px;
      margin: 0 auto;
      text-align: left;
      @media screen and (max-width: $break-small) {
        text-align: center; // for button
        .section-title, .description{
          text-align: center;
        }
      }
    }
  }

  .vertical-center:nth-child(2){
    @include regular-img('../images/DGPPan_LR-(1).jpg');
    .column{
      @extend .contain-news;
    }
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }

  .vertical-center:nth-child(3){
    @include regular-img('../images/15-Cliff-Kitchen.jpg');
    .column{
      @extend .contain-news;
    }
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  .button{
    @extend .button-white;
  }
}


.footer{
  @extend .blue-gradient-bg;
  border-top: 2px solid $dark-blue;
  height: 350px;
  width: 100%;
  text-align: center;
  position: relative;

  .grid-bg{
    @include large-tile;
    @extend .base-positioning;
    position: absolute;
    height: 100%;
  }

  .access {
    @extend .small-title;
    margin-top: 100px;
    margin-bottom: 25px;
  }

  .button{
    @extend .small-button;
  }
}
