/* CSS RESET */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

/* colors */
/* font-size */
/* font-weight */
body, h1, h2, h3, h4, div, p {
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* for firefox font */ }

.title, .blue-bg-text .section-title, .masthead .section-title, .the-funds .section-title, .investments .section-title, .capabilities .section-title, .white-bg-text .section-title, .the-firm .section-title, .news .vertical-center:nth-child(1) .section-title, .button, .main-nav, .small-title, .footer .access {
  text-transform: uppercase; }

.title, .blue-bg-text .section-title, .masthead .section-title, .the-funds .section-title, .investments .section-title, .capabilities .section-title, .white-bg-text .section-title, .the-firm .section-title, .news .vertical-center:nth-child(1) .section-title {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.1; }

.small-title, .footer .access {
  font-size: 18px;
  font-weight: 400;
  color: #ade1f9; }

.paragraph, .news-description, .news-screen-text .date-description, .screen .date-description, .blue-bg-text .description, .masthead .description, .the-funds .description, .investments .description, .capabilities .description, .white-bg-text .description, .the-firm .description, .news .vertical-center:nth-child(1) .description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4; }

.date-style, .news-screen-text .date, .screen .date {
  font-weight: 700;
  font-size: 11px;
  color: #1aa2de;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 15px; }

.news-description, .news-screen-text .date-description, .screen .date-description {
  color: #fff;
  padding-bottom: 20px;
  max-width: 300px; }

.no-opacity {
  opacity: 0; }

.full-opacity {
  opacity: 1; }

.blue-background, .blue-bg-text, .masthead, .the-funds, .investments, .capabilities {
  background-color: #033e66; }

.blue-gradient-bg, .footer {
  background: #013f68;
  background: -moz-linear-gradient(top, #013f68 0%, #002c47 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #013f68), color-stop(100%, #002c47));
  background: -webkit-linear-gradient(top, #013f68 0%, #002c47 100%);
  background: -o-linear-gradient(top, #013f68 0%, #002c47 100%);
  background: -ms-linear-gradient(top, #013f68 0%, #002c47 100%);
  background: linear-gradient(to bottom, #013f68 0%, #002c47 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013f68', endColorstr='#002c47', GradientType=0 ); }

.blue-screen, .screen {
  background-color: rgba(3, 62, 102, 0.9); }

.nav-logo, .main-nav .logo, .nav-image-container .small-logo {
  background: url("../images/logo-secondary.png") no-repeat;
  width: 100px;
  height: 100px;
  background-size: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  margin-top: 10px; }

.base-positioning, .main-nav, .slide-down-nav, .masthead, .outer-container, .footer .grid-bg {
  top: 0;
  left: 0;
  width: 100%; }

.header-background-positioning, .masthead-bg, .overlayc {
  top: 0;
  right: 0;
  width: 100%;
  height: 90vh; }

.blue-bg-text .section-title, .masthead .section-title, .the-funds .section-title, .investments .section-title, .capabilities .section-title {
  color: #ade1f9; }

.blue-bg-text .description, .masthead .description, .the-funds .description, .investments .description, .capabilities .description {
  color: #fff; }

.white-bg-text .section-title, .the-firm .section-title, .news .vertical-center:nth-child(1) .section-title {
  color: #0b3d62;
  text-align: left; }

.white-bg-text .description, .the-firm .description, .news .vertical-center:nth-child(1) .description {
  color: #6c7379;
  text-align: left; }

.container {
  width: 100%;
  position: relative;
  float: left;
  font-size: 0; }

.column {
  float: left;
  margin: auto;
  position: relative; }

.contain-news, .news .vertical-center:nth-child(2) .column, .news .vertical-center:nth-child(3) .column {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.screen {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 15px;
  border-top: 3px solid #1aa2de; }
  .screen:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #1aa2de transparent;
    position: absolute;
    top: -10px; }

/* colors */
/* font-size */
/* font-weight */
body, h1, h2, h3, h4, div, p {
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* for firefox font */ }

.title, .blue-bg-text .section-title, .masthead .section-title, .the-funds .section-title, .investments .section-title, .capabilities .section-title, .white-bg-text .section-title, .the-firm .section-title, .news .vertical-center:nth-child(1) .section-title, .button, .main-nav, .small-title, .footer .access {
  text-transform: uppercase; }

.title, .blue-bg-text .section-title, .masthead .section-title, .the-funds .section-title, .investments .section-title, .capabilities .section-title, .white-bg-text .section-title, .the-firm .section-title, .news .vertical-center:nth-child(1) .section-title {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.1; }

.small-title, .footer .access {
  font-size: 18px;
  font-weight: 400;
  color: #ade1f9; }

.paragraph, .news-description, .news-screen-text .date-description, .screen .date-description, .blue-bg-text .description, .masthead .description, .the-funds .description, .investments .description, .capabilities .description, .white-bg-text .description, .the-firm .description, .news .vertical-center:nth-child(1) .description {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4; }

.date-style, .news-screen-text .date, .screen .date {
  font-weight: 700;
  font-size: 11px;
  color: #1aa2de;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 15px; }

.news-description, .news-screen-text .date-description, .screen .date-description {
  color: #fff;
  padding-bottom: 20px;
  max-width: 300px; }

.nav-bg, .main-nav {
  background: #0d212b;
  background: -moz-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0d212b), color-stop(36%, rgba(13, 33, 43, 0.93)), color-stop(68%, rgba(13, 33, 43, 0.7)), color-stop(100%, rgba(13, 33, 43, 0)));
  background: -webkit-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: -o-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: -ms-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  background: linear-gradient(to bottom, #0d212b 0%, rgba(13, 33, 43, 0.93) 36%, rgba(13, 33, 43, 0.7) 68%, rgba(13, 33, 43, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d212b', endColorstr='#0d212b', GradientType=0 ); }

.small-nav-bg, .slide-down-nav {
  background: #0d212b;
  background: -moz-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 58%, rgba(13, 33, 43, 0.76) 77%, rgba(13, 33, 43, 0.7) 84%, rgba(13, 33, 43, 0.44) 90%, rgba(13, 33, 43, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #0d212b), color-stop(58%, rgba(13, 33, 43, 0.93)), color-stop(77%, rgba(13, 33, 43, 0.76)), color-stop(84%, rgba(13, 33, 43, 0.7)), color-stop(90%, rgba(13, 33, 43, 0.44)), color-stop(100%, rgba(13, 33, 43, 0)));
  background: -webkit-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 58%, rgba(13, 33, 43, 0.76) 77%, rgba(13, 33, 43, 0.7) 84%, rgba(13, 33, 43, 0.44) 90%, rgba(13, 33, 43, 0) 100%);
  background: -o-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 58%, rgba(13, 33, 43, 0.76) 77%, rgba(13, 33, 43, 0.7) 84%, rgba(13, 33, 43, 0.44) 90%, rgba(13, 33, 43, 0) 100%);
  background: -ms-linear-gradient(top, #0d212b 0%, rgba(13, 33, 43, 0.93) 58%, rgba(13, 33, 43, 0.76) 77%, rgba(13, 33, 43, 0.7) 84%, rgba(13, 33, 43, 0.44) 90%, rgba(13, 33, 43, 0) 100%);
  background: linear-gradient(to bottom, #0d212b 0%, rgba(13, 33, 43, 0.93) 58%, rgba(13, 33, 43, 0.76) 77%, rgba(13, 33, 43, 0.7) 84%, rgba(13, 33, 43, 0.44) 90%, rgba(13, 33, 43, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d212b', endColorstr='#0d212b', GradientType=0 ); }

.main-nav {
  font-size: 14px;
  font-weight: 700;
  height: 120px;
  position: fixed;
  z-index: 100; }
  @media screen and (max-width: 1000px) {
    .main-nav {
      display: none; } }
  .main-nav ul {
    max-width: 700px;
    margin: auto;
    position: relative; }
  .main-nav li {
    display: inline-block;
    line-height: 100px; }
  .main-nav .li-left {
    float: left;
    margin-left: 30px; }
  .main-nav .li-right {
    float: right;
    margin-right: 30px; }
  .main-nav a {
    display: inline;
    padding: 10px;
    text-decoration: none;
    color: #ade1f9; }
  .main-nav a:hover {
    border-bottom: 1px solid #ade1f9; }
  .main-nav .contact {
    line-height: 100px;
    margin-right: 30px;
    top: 0;
    right: 0;
    text-align: right;
    position: absolute; }
  .main-nav .contact a {
    color: #1aa2de;
    border: 1px solid #1aa2de; }
  .main-nav .home-link {
    padding: 0px;
    border: none; }

.slide-down-nav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  top: -400px;
  font-size: 14px;
  font-weight: 400;
  height: 550px;
  z-index: 1;
  position: absolute; }
  @media screen and (min-width: 1000px) {
    .slide-down-nav {
      display: none; } }
  @media screen and (max-width: 1000px) {
    .slide-down-nav {
      display: block; } }
  .slide-down-nav ul {
    width: 100%;
    margin: auto;
    position: relative;
    text-align: center; }
  .slide-down-nav li {
    font-size: 30px;
    margin-top: 30px; }
  .slide-down-nav li:first-child {
    margin-top: 50px; }
  .slide-down-nav a {
    display: inline;
    text-decoration: none;
    color: #ade1f9; }
  .slide-down-nav a:hover {
    border-bottom: 1px solid #ade1f9; }

.move-nav-down {
  top: 0; }

.nav-image-container .nav-icon {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  right: 0;
  padding: 20px; }
  @media screen and (min-width: 1000px) {
    .nav-image-container .nav-icon {
      display: none; } }
  @media screen and (max-width: 1000px) {
    .nav-image-container .nav-icon {
      display: block; } }

.nav-image-container .small-logo {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  right: 0;
  z-index: 2; }

.footer-link-container {
  max-width: 900px;
  padding: 0 20px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  @media screen and (max-width: 600px) {
    .footer-link-container {
      height: 110px; } }
  .footer-link-container .footer-li {
    font-size: 11px;
    font-weight: 700;
    float: left;
    text-transform: uppercase;
    margin-right: 50px; }
    @media screen and (max-width: 600px) {
      .footer-link-container .footer-li {
        float: none;
        text-align: center;
        margin-right: 0;
        margin-bottom: 15px; } }
  .footer-link-container .footer-li a {
    color: #a3aaba; }
  .footer-link-container .social-icon {
    float: right;
    width: 16px;
    height: 16px; }
    @media screen and (max-width: 600px) {
      .footer-link-container .social-icon {
        display: none; } }
  .footer-link-container .social-icon:last-child {
    margin-left: 50px; }
  .footer-link-container .copyright {
    color: #1aa2de;
    font-weight: 700;
    float: left;
    clear: left;
    font-size: 9px;
    text-transform: uppercase;
    margin-top: 10px; }
    @media screen and (max-width: 600px) {
      .footer-link-container .copyright {
        float: none;
        text-align: center; } }

.button-bg, .button-blue, .inner-container-narrow .button, .the-funds .button, .capabilities .button {
  background: rgba(20, 65, 86, 0.8); }

.button-style, .button-white, .button-blue, .inner-container-narrow .button, .the-funds .button, .capabilities .button, .the-firm .button, .investments .button, .news .button {
  width: 250px;
  height: 50px;
  padding-right: 50px;
  line-height: 50px;
  color: #1aa2de;
  border: 2px solid #1aa2de;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  position: relative; }

.button-white, .button-blue, .inner-container-narrow .button, .the-funds .button, .capabilities .button, .the-firm .button, .investments .button, .news .button {
  margin-top: 40px;
  display: inline-block; }
  .button-white:after, .button-blue:after, .inner-container-narrow .button:after, .the-funds .button:after, .capabilities .button:after, .the-firm .button:after, .investments .button:after, .news .button:after {
    content: "";
    width: 50px;
    height: 50px;
    margin-top: -2px;
    margin-left: 20px;
    right: 0;
    background: url("../images/carret.svg") no-repeat center center;
    background-size: 35px 35px;
    background-color: #1aa2de;
    display: inline-block;
    position: absolute; }

.button-small-style, .small-button, .footer .button {
  width: 200px;
  height: 40px;
  padding-right: 40px;
  line-height: 40px;
  color: #1aa2de;
  border: 2px solid #1aa2de;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  position: relative; }

.small-button, .footer .button {
  display: inline-block; }
  .small-button:after, .footer .button:after {
    content: "";
    width: 40px;
    height: 40px;
    margin-top: -2px;
    margin-left: 20px;
    right: 0;
    background: url("../images/carret.svg") no-repeat center center;
    background-size: 30px 30px;
    background-color: #1aa2de;
    display: inline-block;
    position: absolute; }

.round-button {
  background: url("../images/arrow.svg") no-repeat;
  position: relative;
  margin: auto;
  width: 50px;
  height: 50px;
  background-size: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 40px;
  opacity: 0.7; }

/* styling for header content */
.masthead {
  /* set all text color for header */
  position: relative; }
  @media screen and (max-width: 600px) {
    .masthead .section-title {
      font-size: 30px; }
    .masthead .description {
      font-size: 18px; } }

.outer-container {
  height: 100%;
  position: absolute;
  text-align: center; }

.inner-container-narrow {
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0 auto; }
  .inner-container-narrow .section-title {
    margin-top: 50px;
    padding-bottom: 30px; }

.masthead-bg {
  position: relative;
  background: url("../images/home-hero-small.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }

.overlayc {
  position: absolute;
  background: url("../images/overlay-c.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3;
  opacity: 0.5; }

/* end header styling */
/* begin styling of each section below header */
.the-firm {
  background: url("../images/grid-pattern.png");
  background-size: 650px; }
  .the-firm .horizontal-center {
    max-width: 900px;
    margin: auto; }
  .the-firm .vertical-center {
    display: inline-block;
    vertical-align: middle;
    width: 50%; }
    @media screen and (max-width: 600px) {
      .the-firm .vertical-center {
        display: inline-block;
        vertical-align: middle;
        width: 100%; } }
    @media screen and (max-width: 600px) {
      .the-firm .vertical-center .section-title {
        font-size: 30px; }
      .the-firm .vertical-center .description {
        font-size: 18px; } }
  .the-firm .vertical-center:first-child {
    padding: 20px 20px 20px 20px; }
    @media screen and (max-width: 600px) {
      .the-firm .vertical-center:first-child {
        text-align: center; }
        .the-firm .vertical-center:first-child .section-title, .the-firm .vertical-center:first-child .description {
          text-align: center; } }
  .the-firm .section-title {
    padding-bottom: 20px; }
  .the-firm .column-image {
    width: 90%;
    float: right; }
    @media screen and (max-width: 600px) {
      .the-firm .column-image {
        float: none;
        width: 100%;
        padding: 0 20px; } }

@media screen and (max-width: 600px) {
  .the-funds .section-title {
    font-size: 30px; }
  .the-funds .description {
    font-size: 18px; } }

.the-funds .center-text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center; }

.the-funds .content-width {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }

.the-funds .section-title {
  margin-bottom: 20px; }

.the-funds .vertical-center {
  display: inline-block;
  vertical-align: middle;
  width: 33.33333%;
  height: 600px; }
  @media screen and (max-width: 600px) {
    .the-funds .vertical-center {
      display: inline-block;
      vertical-align: middle;
      width: 100%; } }

.the-funds .vertical-center:nth-child(1) {
  background: url("../images/construction.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }
  @media screen and (max-width: 600px) {
    .the-funds .vertical-center:nth-child(1) {
      display: none; } }

.the-funds .vertical-center:nth-child(2) {
  background: url("../images/325-Lex-AD-E7-UNCROPPED.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }

.the-funds .vertical-center:nth-child(3) {
  background: url("../images/325_lexington_1bed_Living.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }
  @media screen and (max-width: 600px) {
    .the-funds .vertical-center:nth-child(3) {
      display: none; } }

.investments {
  background-color: #0f1d20;
  height: 600px;
  display: table; }
  @media screen and (max-width: 600px) {
    .investments .section-title {
      font-size: 30px; }
    .investments .description {
      font-size: 18px; } }
  .investments .horizontal-center {
    display: table-cell;
    vertical-align: middle; }
  .investments .vertical-center {
    max-width: 900px;
    margin: auto; }
  .investments .vertical-center:first-child {
    padding: 20px 20px 20px 20px; }
  .investments .column {
    max-width: 300px; }
    @media screen and (max-width: 600px) {
      .investments .column {
        text-align: center;
        max-width: 100%; }
        .investments .column .section-title, .investments .column .description {
          text-align: center; } }
  .investments .section-title {
    padding-bottom: 20px; }
  .investments .map {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/investments-map-static.png") no-repeat;
    background-size: contain;
    background-position: right; }
    @media screen and (max-width: 600px) {
      .investments .map {
        background-position: bottom;
        opacity: 0.15; } }

@media screen and (max-width: 600px) {
  .capabilities .section-title {
    font-size: 30px; }
  .capabilities .description {
    font-size: 18px; } }

.capabilities .center-text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center; }

.capabilities .content-width {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }

.capabilities .section-title {
  margin-bottom: 20px; }

.capabilities .vertical-center {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 600px; }

.capabilities .vertical-center {
  background: url("../images/325_lexington_PH_Patio_View2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.3; }

.news .section-title {
  margin-bottom: 20px; }

.news .vertical-center {
  display: inline-block;
  vertical-align: middle;
  width: 33.33333%;
  height: 400px; }
  @media screen and (max-width: 1000px) {
    .news .vertical-center {
      display: inline-block;
      vertical-align: middle;
      width: 50%; } }
  @media screen and (max-width: 600px) {
    .news .vertical-center {
      display: inline-block;
      vertical-align: middle;
      width: 100%; } }

.news .vertical-center:nth-child(1) {
  background: url("../images/grid-pattern.png");
  background-size: 650px; }
  @media screen and (max-width: 600px) {
    .news .vertical-center:nth-child(1) .section-title {
      font-size: 30px; }
    .news .vertical-center:nth-child(1) .description {
      font-size: 18px; } }
  .news .vertical-center:nth-child(1) .column {
    position: relative;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    width: 100%; }
  .news .vertical-center:nth-child(1) .center-column {
    max-width: 300px;
    margin: 0 auto;
    text-align: left; }
    @media screen and (max-width: 600px) {
      .news .vertical-center:nth-child(1) .center-column {
        text-align: center; }
        .news .vertical-center:nth-child(1) .center-column .section-title, .news .vertical-center:nth-child(1) .center-column .description {
          text-align: center; } }

.news .vertical-center:nth-child(2) {
  background: url("../images/DGPPan_LR-(1).jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 600px) {
    .news .vertical-center:nth-child(2) {
      display: none; } }

.news .vertical-center:nth-child(3) {
  background: url("../images/15-Cliff-Kitchen.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 1000px) {
    .news .vertical-center:nth-child(3) {
      display: none; } }

.footer {
  border-top: 2px solid #002947;
  height: 350px;
  width: 100%;
  text-align: center;
  position: relative; }
  .footer .grid-bg {
    background: url("../images/grid-pattern.png");
    background-size: 1000px;
    opacity: 0.1;
    position: absolute;
    height: 100%; }
  .footer .access {
    margin-top: 100px;
    margin-bottom: 25px; }
